.card{
  perspective: 150rem; //high number needed
  position: relative;
  height: 52rem;
  //if we do not specify a height
  //-> it will card div will be collapsed. and the transition fails. Blibt hange
  //

  //-moz-perspective: 150rem;//to work on firefox (moz-illa)
  //not needed anymore
  &__side{

    height: 52rem;
    transition: all .8s ease;

    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    backface-visibility: hidden; //hides the backpart of an image
    border-radius: 3px;
    overflow: hidden; //so the images on the cards are not rounded -> now they're rounded again
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);


    &--front{
      //background-color: orangered;
    }

    &--back{
      transform:rotateY(180deg);//backside is already rotated

      &-1{
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }
      &-2{
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
      }
      &-3{
        background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
      }
    }

  }



  &:hover &__side--front{
    transform: rotateY(-180deg);
  }//.card:hover .card__side

  &:hover &__side--back{
    transform: rotateY(0);
  }//.card:hover .card__side

  &__picture{
    background-size:cover;
    height: 23rem;//Expermentation with height does not to rely on anything. there is no content in it so its realy small
    background-blend-mode: screen;//does not work with ie/edge
    //gets rid of photoshop

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);//now it works on all browsers: order is important
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    //with clip path set -> overflow does not work any more, the corners have to be rounded manually
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    &--1{
      background-image:  linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../img/nat-5.jpg);
    }

    &--2{
      background-image:  linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(../img/nat-5.jpg);

    }

    &--3{
      background-image:  linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(../img/nat-5.jpg);

    }

  }

  &__heading{
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;//so the header is now on two lines

  }

  &__heading-span{
    padding: 1rem 1.5rem; //same thing of above makes it on two lines if 75% is not enough
    //problem here -> span is treated as one element
    // if it is on two lines, the padding is applied: line 1: padding left line 2: padding right
    // fix:
    --webkit-box-decoration-break: clone;//declaration added to all boxes created (same element)
    box-decoration-break: clone; //does not work on google chrome -> webkit
    &--1{
      background-image: linear-gradient(to right bottom,
      rgba($color-secondary-light, 0.85),
      rgba($color-secondary-dark, .85));
    }

    &--2{
      background-image: linear-gradient(to right bottom,
      rgba($color-primary-light, 0.85),
      rgba($color-primary-dark, .85));
    }

    &--3{
      background-image: linear-gradient(to right bottom,
      rgba($color-tertiary-light, 0.85),
      rgba($color-tertiary-dark, .85));
    }
  }

  &__details{
    padding: 3rem;
    ul{
      list-style: none;
      width: 80%;
      margin: 0 auto;
      li{
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        &:not(:last-child){
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  &__cta{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align:center;
  }

  &__price-box{

    color: $color-white;
    margin-bottom: 8rem;
  }

  &__price-only{
    font-size: 1.4rem;
    text-transform: uppercase;;
  }

  &__price-value{
    font-size: 6rem;
    font-weight: 100;
  }

}
